<h1>Colonel Ihor Hordiychuk</h1>
<img alt="Hero of Ukraine Medal" src="/assets/hero_of_ukraine.jpg" class="img-right">
<p>
  The imagery endued in Ukraine's highest individual honor, "Hero of Ukraine," is much like America's highest award,
  "Medal of Honor." There is no need for explanation; the title of the both awards instill a sense that a grateful
  nation has focused its attention on one citizen; acknowledging his or her deeds above and beyond the call of duty.
  In such a moment, Ukraine recognized Colonel Ihor Hordiychuk.
</p>
<p>
  Hordiychuk distinguished himself well before his heroism. He graduated with honors from the mid-level officers
  course at the Kyiv (Kiev) National Defense Academy. In addition to his native Ukrainian and Russian, he is fluent
  in three other languages – English, German, and Polish. With such talent, he was chosen to attend the US Army War
  College in Carlisle Pennsylvania; graduating in 2009
</p>
<p>
  Early on, he followed the career path expected from young officers - from mechanized platoon commander to deputy
  commander of a tank regiment. But, he found his best opportunity to exploit his talents when became the deputy
  commander of an elite Special Forces brigade. Later, he would go on to command the 8th Separate Special Forces
  Regiment.
</p>
<p>
  From May to December 2010 Hordiychuk served as member of the international presence in the Republic of Afghanistan.
  On his return, he became the Deputy Chief of the Army Academy of Ukraine in Lviv. Just before his assignment in the
  Eastern Ukraine, he was appointed as head of military cooperation and peacekeeping operations of the General Staff.
</p>
<p>
  In April 2014, he was appointed Chief of the Command Center of the Ministry of Defense. He took part in many
  operations during the Anti-Terrorist Operation in eastern Ukraine; personally leading detachments of Special Forces
  on reconnaissance mission deep beyond the front of the enemy.
</p>
<p>
  Then, late in August 2014, he began the mission that would inspire Ukraine and all of Ukraine's friends.
</p>
