<div class="atf">
	<div class="container">
		<h1>Полковник Ігор Гордійчук</h1>
		<img alt="Полковник Ігор Гордійчук" src="/assets/ihor academy.jpg" class="img-responsive">
	</div>
</div>
<article class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>Хто ця людина?</h3>
			<img alt="Hero of Ukraine Medal" src="/assets/hero_of_ukraine.jpg" class="img-right img-responsive" style="max-width:25%">
			<p>
				Він нагороджений найвищою індивідуальною нагородою "Герой України", це схоже на американську нагороду "Медаль
				за Відвагу". Немає потреби у більшому роз'ясненні; титул обох нагород відображає почуття вдячної нації, що
				звернула увагу на подвиг її громадянина; визнаючи вчинок який виходив за межі його обов'язків. В такий спосіб
				Україна відзначила полковника Ігора Гордійчука Ви можете прочитати більше про нього та його подвиг тут
				<a href="/battle">Бій за Савур-Могилу</a>.
			</p>
			<p>
				Гордійчук відмінно зарекомендував себе також і до героїчного вчинку. Він закінчив з відзнакою курси офіцерів у
				м.Київ у Національній Академії Оборони України. Його рідні мови українська та російська, він також вільно
				володіє англійською, німецькою та польською.  Він також був обраним на проходження курсів у Воєнному коледжі
				(War College) в США, Пенсільванія, який завершив у 2009.
			</p>
			<p>
				Його військова кар'єра викликає захоплення, полковник Гордійчук пройшов її від командира механізованого взводу
				до командира полку спецпризначення, де він мав змогу вести в бій підлеглих в Афганістані. По його поверненню він
				був призначеним  першим заступником начальника Академії Сухопутних військ у м.Львів. У квітні, 2014 він був
				призначений на посаду начальника командного центру в Міністерстві Оборони. Він брав участь у багатьох операціях
				АТО на сході України; особисто вів підрозділи спецпризначення у розвідку в тил противника.
			</p>
			<p>
				На жаль, під час російського вторгнення, полковник Гордійчук отримав поранення у голову від розриву російського
				артилерійського снаряду і зараз він бореться за життя. <strong>Він, та багато таких як він потребують нашої
				допомоги.</strong>
			</p>
			<p>
				Полковник Ігор Гордійчук віддано служив своїй Батьківщині багато років, включаючи окупацію Росією України. На
				жаль, полковник Гордійчук отримав важке поранення від розриву російського артилерійського снаряду і зараз він
				бореться за життя. Він та багато таких як він потребують нашої допомоги.
			</p>
		</div>
		<div class="col-md-6">
			<h3>Допоможіть полковнику та Україні</h3>
			<p>Ось як ви це можете зробити:</p>
			<a href="http://bit.ly/1oRu2Wn" target="_blank"><img alt="UFF Logo" src="/assets/uff.png" class="img-right"></a>
			Якщо Ви хочете допомогти Українській Армії необхідним одягом та іншим обмундируванням, Ви можете пожертвувати
			<a href="http://bit.ly/1oRu2Wn" target="_blank">Ukrainian Freedom Fund</a>.
		</div>
	</div>
</article>
