<div class="atf">
  <div class="container">
    <h1>Colonel Ihor Hordiychuk</h1>
    <img alt="Colonel Ihor Hordiychuk at the Defense Academy" src="/assets/ihor academy.jpg" class="img-responsive">
  </div>
</div>
<article class="container">
  <div class="row">
    <div class="col-md-6">
			<h3>Who is this man?</h3>
			<img alt="Hero of Ukraine Medal" src="/assets/hero_of_ukraine.jpg" class="img-right img-responsive" style="max-width:25%">
			<p>
				The imagery endued in Ukraine's highest individual honor, "Hero of Ukraine," is much like America's highest award,
				"Medal of Honor." There is no need for explanation; the title of both awards instills a sense that a grateful
				nation has focused its attention on one citizen; acknowledging his or her deeds above and beyond the call of duty.
				In such a moment, Ukraine recognized Colonel Ihor Hordiychuk. You can read all about his actions in our
				description of the <a href="/battle">Battle of Savur-Mohyla</a>.
			</p>
			<p>
				Hordiychuk distinguished himself well before his heroism. He graduated with honors from the mid-level officers
				course at the Kyiv (Kiev) National Defense Academy. In addition to his native Ukrainian and Russian, he is fluent
				in three other languages – English, German, and Polish. He was also chosen to attend the U.S. Army War
				College in Carlisle Pennsylvania, graduating in 2009.
			</p>
			<p>
				During his career, Col. Hordiychuk advanced from a mechanized platoon commander to the commander of a
				Special Forces Regiment where he led his men in the pitched battles of the war in Afghanistan. On his return,
				he became the Deputy Chief of the Army Academy of Ukraine in Lviv. In April 2014, he was appointed Chief of the
				Command Center of the Ministry of Defense. He took part in many operations during the Anti-Terrorist Operation
				in eastern Ukraine; personally leading detachments of Special Forces on reconnaissance mission deep beyond the
				front of the enemy.
			</p>
			<p>
				Unfortunately, during this deplorable invasion, Col Hordiychuk was injured by shrapnel from Russian artillery,
				and he now fights for his life. <strong>He and many others like him need our help.</strong>
			</p>
    </div>
		<div class="col-md-6">
			<h3>Help the Colonel and Ukraine</h3>
			<p>Here are ways that you can help out:</p>
			<ol>
				<li>
					<a href="http://bit.ly/1oRu2Wn" target="_blank"><img alt="UFF Logo" src="/assets/uff.png" class="img-right"></a>
					If you would like to support the Ukrainian Army with sorely needed clothing and other equipment, you can
					donate to <a href="http://bit.ly/1oRu2Wn" target="_blank">Ukrainian Freedom Fund</a>. Urgent winter needs
					include: fleece sweaters with no hoods, warm gloves (any kind), warm socks, fleece hats, sleeping bag, big
					backpacks. UFF has particularly identified these <a href="http://bit.ly/UFFWishList" target="_blank">urgently needed items</a>. Contact
					<a href="mailto:vnazarenko@ukrfreedomfund.org">Victoria Nazerenko</a> for information on how to ship at
					discount rates via <a href="http://meest.us/eng/index.html" target="_blank">Meest America</a> or for free via
					DHL from Germany, and for information on additional in-kind donations that are needed.
				</li>
				<li>
					If you want to specifically direct your contribution to Ihor's battle with his neurological injuries,
					a battle he hasn't won yet, you can enter "For Hordiychuk" when donating online to
					<a href="http://bit.ly/1oRu2Wn" target="_blank">Ukrainian Freedom Fund</a>.
				</li>
				<li>
					U.S. citizens can make tax-deductible donations through UFF's partner, the
					<a href="http://bit.ly/1sIMN9I" target="_blank">U.S.-Ukraine Foundation</a>.Under "What Program to
					Do You Want to Support", select "Health Care and Humanitarian Aid", and under "Specify Sub-Program", enter
					"For UFF" for general contributions to UFF to assist soldiers, or "For UFF-Hordiychuk" to direct your funds
					to Ihor's medical care.
				</li>
			</ol>
		</div>
  </div>
</article>
