<div class="atf">
  <div class="container">
    <h1>Colonel Ihor Hordiychuk</h1>
    <img alt="Colonel Ihor Hordiychuk at the Defense Academy" src="/assets/ihor academy.jpg" class="img-responsive">
  </div>
</div>
<article class="container">
  <div class="row">
    <div class="col-md-6">
			<h3>Who is this man?</h3>
			<img alt="Hero of Ukraine Medal" src="/assets/hero_of_ukraine.jpg" class="img-right img-responsive" style="max-width:25%">
			<p>
				The imagery endued in Ukraine's highest individual honor, "Hero of Ukraine," is much like America's highest award,
				"Medal of Honor." There is no need for explanation; the title of the both awards instill a sense that a grateful
				nation has focused its attention on one citizen; acknowledging his or her deeds above and beyond the call of duty.
				In such a moment, Ukraine recognized Colonel Ihor Hordiychuk. You can read all about the Colonel's actions
				on our description of the <a href="/battle">Battle of Savur-Mohyla</a>.
			</p>
			<p>
				Hordiychuk distinguished himself well before his heroism. He graduated with honors from the mid-level officers
				course at the Kyiv (Kiev) National Defense Academy. In addition to his native Ukrainian and Russian, he is fluent
				in three other languages – English, German, and Polish. He was also chosen to attend the US Army War
				College in Carlisle Pennsylvania; graduating in 2009.
			</p>
			<p>
				During his career, Col. Hordiychuk has advanced from a mechanized platoon commander to the commander of a
				Special Forces Regiment where he led his men in the pitched battles of the war in Afghanistan. On his return,
				he became the Deputy Chief of the Army Academy of Ukraine in Lviv. In April 2014, he was appointed Chief of the
				Command Center of the Ministry of Defense. He took part in many operations during the Anti-Terrorist Operation
				in eastern Ukraine; personally leading detachments of Special Forces on reconnaissance mission deep beyond the
				front of the enemy.
			</p>
			<p>
				Unfortunately, during this deplorable invasion, Col Hordiychuk was injured by shrapnel from Russian artillery,
				and he now fights for his life. <strong>He an many others like him need our help.</strong>
			</p>
    </div>
		<div class="col-md-6">
			<h3>Help the Colonel and the Ukraine</h3>
			<p></p>
		</div>
  </div>
</article>
