// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-bottom: 20px;
}

.img-right {
  float: right;
  margin: 0 0 10px 10px;
  display: inline-block;
}

.img-left {
  float: left;
  margin: 0  10px 10px 0;
  display: inline-block;
}

.atf {
  padding-bottom: 20px;
}

.battle-aside {
  font-style: italic;
  padding-top: 5px;
  margin-bottom: 15px;
  background-color: #eaeaea;
}
